<nav class="navbar navbar-light bg-light mt-2">
    <div class="container-fluid">
      <a class="navbar-brand">Dashboard</a>
      <p class="lead mb-3 text-dark me-4">Welcome <%= name %></p>
      <form class="d-flex">
        <a href="/auth/forgot" class="btn btn-secondary">Change Password</a>
        <a href="/auth/logout" class="btn btn-secondary">Logout</a>
      </form>
    </div>
</nav>

